/docker/templates/base/docker/postgres/*
/docker/templates/base/docker/postgres_data/*
/docker/templates/base/docker/mysql_data/*
/docker/templates/base/docker/mongodb_data/*
/docker/templates/base/docker/rabbitmq_data/*
/docker/templates/base/docker/redis_data/*
/docker/mysql/*
/docker/php/*
/docker/redis/*
/node_modules
/vendor
.phpunit.result.cache
/.idea
/.vscode
.env
.env.docker
