docker/templates/services/mariadb/config/*
docker/templates/services/mariadb/storage/*
docker/templates/services/mongodb/config/*
docker/templates/services/mongodb/storage/*
docker/templates/services/nginx/config/default.base.conf
docker/templates/services/postgresql/config/*
docker/templates/services/postgresql/storage/*
docker/templates/services/rabbitmq/storage/*
docker/templates/services/redis/storage/*
node_modules/
vendor/
public/
.phpunit.result.cache
.idea
.vscode
.env
